Repository wuhan2020/wuhan2020, pull requests merged in 2020-01, with the labels that each got.

#8 Hospital
  HOSPITAL.csv
Labels: area/hospital, pull/approved

#12 新增加湖北襄阳市医院
  HOSPITAL.csv
Labels: pull/approved

#10 documentation:add CONTRIBUTION.md
  CONTRIBUTION.md
Labels: area/document, pull/approved

#15 新增湖北仙桃市第一人民医院
  HOSPITAL.csv
Labels: pull/approved

#16 logistical: add logistical info, #3
  LOGISTICAL.csv
Labels: area/logistical, pull/approved

#18 添加襄阳宜城市中医院;
  HOSPITAL.csv
Labels: pull/approved

#20 doc: update CONTRIBUTING #1
  CONTRIBUTION.md
  static/fork-repo.png
  static/open-pr.png
  static/pull-request.png
  static/self-assign.png
Labels: area/document, pull/approved

#23 refactor: update readme, add contributing guide link
  README.md
Labels: kind/enhancement, pull/approved

#30 refactor: add approver
  .github/hypertrons.json
Labels: kind/enhancement, pull/approved

#28 doc:添加孝感大悟人民医院信息
  HOSPITAL.csv
Labels: area/document, pull/approved

#32 新增孝感市中心医院
  HOSPITAL.csv
Labels: pull/approved

#36 圆通速递有限公司，武汉寄入，不接受个人捐助；中通快递集团，武汉寄入，不接受个人捐助
  LOGISTICAL.csv
Labels: pull/approved

#41 Update HOSPITAL.csv
  HOSPITAL.csv
Labels: area/hospital, pull/approved

#40 新增加黄冈市蕲春县人民医院
  HOSPITAL.csv
Labels: pull/approved

#34 【新增】渐进式 Web 应用
  .github/hypertrons.json
  .gitignore
  .npmrc
  .travis.yml
  CONTRIBUTION.md
  HOSPITAL.csv
  README.md
  data/CLINIC.csv
  data/DONATION.csv
  data/FACTORY.csv
  data/HOTEL.csv
  data/Hospital.yml
  data/LOGISTICAL.csv
  data/NEWS.csv
  package.json
  source/global.d.ts
  source/image/WuHan-love.png
  source/index.html
  source/index.tsx
  source/index.webmanifest
  source/model/index.ts
  source/page/Home.tsx
  source/page/Hospital.tsx
  source/page/index.tsx
  source/sw.ts
  tsconfig.json
  workbox-config.js
Labels: pull/approved

#49 【新增】物流公司 表格页
  README.md
  data/LOGISTICAL.csv
  data/Logistics.yml
  package.json
  source/global.d.ts
  source/page/Hospital.tsx
  source/page/Logistics.tsx
  source/page/index.tsx
Labels: pull/approved

#48 Fix grammar
  README.md
Labels: pull/approved

#58 feature: new procedure and remove app
  .github/hypertrons.json
  .gitignore
  .npmrc
  .travis.yml
  README.md
  data/CLINIC.csv
  data/DONATION.csv
  data/FACTORY.csv
  data/HOTEL.csv
  data/Hospital.yml
  data/Logistics.yml
  data/NEWS.csv
  package.json
  source/global.d.ts
  source/image/WuHan-love.png
  source/index.html
  source/index.tsx
  source/index.webmanifest
  source/model/index.ts
  source/page/Home.tsx
  source/page/Hospital.tsx
  source/page/Logistics.tsx
  source/page/index.tsx
  source/sw.ts
  static/procedure.uml
  tsconfig.json
  workbox-config.js
Labels: kind/feature, pull/approved

#61 refactor: update readme
  README.md
Labels: kind/enhancement

#71 refactor: add doc
  README.md
Labels: area/document, kind/enhancement

#75 doc:update CONTRIBUTING #1
  CONTRIBUTION.md
Labels: area/document, pull/approved

#80 doc:update README.md
  README.md
Labels: area/document, pull/approved

#100 Create FAQ.md
  FAQ.md
Labels: pull/approved

#101 Update README.md
  README.md
Labels: pull/approved

#104 修复CONTRIBUTION.md指向README.md 404的问题
  CONTRIBUTION.md
Labels: pull/approved

#111 Doc : add INFORMATION_GUIDE.md
  INFORMATION_GUIDE.md
  README.md
  static/QRCode.jpeg
Labels: area/document, pull/approved

#102 Doc faq
  FAQ.md
  README.md
Labels: area/document, pull/approved

#138 doc: modify readme
  ARCHITECTURE.md
  CONTRIBUTING.md
  README.md
  static/procedure.uml
Labels: area/document

#150 修正README.ME中的贡献指南链接
  README.md
Labels: pull/approved

#184 fix: readme slack link
  README.md
Labels: kind/bug

#205 Update Translation
  INFORMATION_GUIDE_EN.md
  README_EN.md
Labels: pull/approved

#152 添加信息组FAQ
  README.md
Labels: pull/approved

#211 [bug]Fix README bug
  README.md
Labels: kind/bug, pull/approved

#220 doc:update INFORMATION_GUIDE & README
  INFORMATION_GUIDE.md
  README.md
Labels: area/document, pull/approved

#208 doc: add link to English translation README
  INFORMATION_GUIDE.md
  README.md
Labels: area/document, pull/approved

#210 doc: FAQ English version & README update
  FAQ_EN.md
  README_EN.md
Labels: area/document, pull/approved

#229 Readmeup
  README.md
Labels: pull/approved

#213 Correct Translation
  CONTRIBUTING.md
  CONTRIBUTING_EN.md
  FAQ.md
  INFORMATION_GUIDE.md
  INFORMATION_GUIDE_EN.md
  README.md
Labels: pull/approved

#232 Update English Translation
  README.md
  README_EN.md
Labels: pull/approved

#186 modify FAQ.md format
  FAQ.md
Labels: pull/approved

#209 Add Slack Navigations and Improve the wording of the English version of readme
  README.md
  README_EN.md
Labels: pull/approved

#240 doc:Translation updates and add the guide
  README.md
  README_EN.md
  README_JP.md
Labels: area/document, pull/approved

#245 doc: add badge for official announcement
  README.md
Labels: area/document, pull/approved

#255 update FAQ_EN.md
  FAQ_EN.md
Labels: pull/approved

#246 correct spelling
  CONTRIBUTING.md
  CONTRIBUTING_EN.md
Labels: pull/approved

#238 添加readme完整代码管理流程
  DEV_ENV_SETUP.md
  DEV_ENV_SETUP_EN.md
Labels: pull/approved

#257 Wuhan developer readme
  DEV_ENV_SETUP.md
  DEV_ENV_SETUP_EN.md
Labels: pull/approved
