Repository wuhan2020/wuhan2020, pull requests merged in 2020-02, with the labels that each got.

#236 doc: Add italiano translation
  FAQ_EN.md
  INFORMATION_GUIDE_EN.md
  README_EN.md
  README_IT.md
Labels: area/document, pull/approved

#265 Update FAQ Slack link
  FAQ.md
  FAQ_EN.md
  README.md
  README_EN.md
Labels: pull/approved

#269 add official announcement EN
  README.md
  WUHAN2020_OFFICIAL_ANNOUNCEMENT.md
Labels: pull/approved

#270 fix badge link
  README.md
Labels: pull/approved

#280 add note to README
  README.md
Labels: pull/approved

#282 doc: sync announcement md files
  README.md
  WUHAN2020_OFFICIAL_ANNOUNCEMENT.md
  WUHAN2020_OFFICIAL_ANNOUNCEMENT_EN.md
  static/wuhan2020.png
Labels: area/document, pull/approved

#288 official announcement format
  WUHAN2020_OFFICIAL_ANNOUNCEMENT.md
  WUHAN2020_OFFICIAL_ANNOUNCEMENT_EN.md
Labels: pull/approved

#284 chore(docs): add TOC for the md docs
  CONTRIBUTING.md
  CONTRIBUTING_EN.md
  DEV_ENV_SETUP.md
  DEV_ENV_SETUP_EN.md
  FAQ.md
  FAQ_EN.md
  INFORMATION_GUIDE.md
  INFORMATION_GUIDE_EN.md
  README.md
  README_EN.md
  README_IT.md
  README_JP.md
  WUHAN2020_OFFICIAL_ANNOUNCEMENT_EN.md
Labels: area/document, pull/approved

#294 Update README_EN.md
  README_EN.md
Labels: pull/approved

#296 Add LICENSE
  LICENSE
Labels: pull/approved

#298 Add github image compression action
  .github/calibre/image-actions.yml
  .github/workflows/image-action.yml
  static/fork-repo.png
  static/open-pr.png
  static/pull-request.png
  static/self-assign.png
  static/wuhan2020.png
Labels: pull/approved

#300 doc: fix readme link
  WUHAN2020_OFFICIAL_ANNOUNCEMENT_EN.md
Labels: area/document, pull/approved

#301 doc: add french OA
  WUHAN2020_OFFICIAL_ANNOUNCEMENT.md
  WUHAN2020_OFFICIAL_ANNOUNCEMENT_EN.md
  WUHAN2020_OFFICIAL_ANNOUNCEMENT_FR.md
Labels: area/document, pull/approved

#304 Remove useless docs
  ARCHITECTURE.md
  DEV_ENV_SETUP.md
  DEV_ENV_SETUP_EN.md
  FAQ.md
  FAQ_EN.md
  INFORMATION_GUIDE.md
  INFORMATION_GUIDE_EN.md
  LICENSE
  README.md
  README_EN.md
  README_IT.md
  README_JP.md
  WUHAN2020_OFFICIAL_ANNOUNCEMENT.md
  WUHAN2020_OFFICIAL_ANNOUNCEMENT_EN.md
  WUHAN2020_OFFICIAL_ANNOUNCEMENT_FR.md
Labels: area/document

#307 Add basic bug and feature request templates
  .github/ISSUE_TEMPLATE/00-bug-issue.md
  .github/ISSUE_TEMPLATE/10-feature-request.md
Labels: wip

#377 add a link to the collaborative project
  README.md
Labels: pull/approved
